.todoList {
  background: rgba(35, 49, 128, 0.438);
  width: 512px;
  height: 300px;
  font-weight: 100;
  color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); /* 그림자 */ 
  margin: 0 auto; /* 페이지 중앙 정렬 */
  margin-top: 4rem;
  /* overflow: scroll; */
}

.title {
  padding: 2rem;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 100;
  background: rgba(99, 12, 197, 0.397);
  color: white;
}

.todos-wrapper {
  /* min-height: 5rem; */
  padding: 2rem;
  height: 100px;
  overflow: scroll;
  
}